@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error. Something went wrong.</h1>
<h2 class="text-danger">An error occurred while processing the request, please contact to administator.</h2>

