@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.793796063436!2d37.8030387154546!3d48.017693567482375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e09015244a71e5%3A0x2a3ad4633ed85e2b!2z0JrQkCLQqNCw0LMi!5e0!3m2!1sru!2sua!4v1539260999317" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
